.logo{
    display:block;
    margin:auto; 
    height:50px;
    width:70px
}

body{
    background-image: linear-gradient(rgb(24, 3, 22),rgb(23, 3, 35));
    color: whitesmoke;
    min-height:100vh;
}

.container{
    max-width: 900px;
    margin:auto;
    min-height:60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    
    width:24%;
    padding: 10px;
    margin: 17px 12px;
    border:2px solid black;
    border-radius: 10px;
    font-weight: bolder;

}

.left{
    background-color: orange;
    float:left;
    clear:both;
    color: black;
}

.right{
    background-color: yellow;
    float:right;
    clear:both;
    color: black;
}

#send-container{
    text-align: center;
    display: block;
    margin: auto;
    max-width: 985px;
    width: 100%;

}

#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 20px;
    height: 34px;
}

.btn{
    cursor:pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;


}

